@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*"Poppins"*/

* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Poppins';
}



/*   --HEADER--   */
header {
    width: 85%;

    margin: 20px auto;

    display: flex;
    justify-content: center;
    vertical-align: auto;

    border-radius: 15px;
    box-shadow: 4px 6px 8px -6px rgba(0, 0, 0, 0.200);

    background-color: #F7F8F8;
}

header a {display: flex;}
header img {width: 180px;}
/*   --HEADER--   */



/*   --_main--   */
section#_main {
    margin: 0px 125px 0px 125px;
    padding: 50px 10px 25px 10px;

    display: flex;
    align-items: center;
}
#_main h1 {
    width: 53%;

    font: normal bold 90px / 100px 'Poppins';
    text-align: left;
}

span {
    color: #50B37D;
}

div#_texts {
    width: 45%;
    margin-left: auto;

    /*padding-right: 125px;*/

    display: block;
}

#_texts p {
    margin-bottom: 25px;

    font: normal 18px 'Poppins';
    text-align: left;
}

#_texts input {
    margin-bottom: 10px;
    padding: 10px;

    color: white;

    background-color: #50B37D;
}
#_texts input::placeholder {color: white;}
#_texts input:hover {background-color: #409164;}
#_texts input:focus {background-color: #409164;}

#_texts input[type="submit"] {
    cursor: pointer;
}
#_texts input[type="submit"]:active {background-color: #8ecfab;}

@keyframes blink {
    0% {background-color: #50B37D;}
    50% {background-color: #6ccf99;}
}

#_texts input[type="number"]:placeholder-shown {animation: blink 1.5s infinite;}


@media screen and (max-width: 1167px) {
    section#_main {margin: 0px;}

    div#_texts {padding-right: 10px;}
}

@media screen and (max-width: 1047px) {
    #_main h1 {width: 60%;}

    div#_texts {width: 30%;}
}

@media screen and (max-width: 846px) {
    header {
        width: 100%;

        margin: 0;

        border-radius: 0;

        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.200);
    }
    #_main {flex-wrap: wrap;}

    #_main h1 {
        width: 100%;
    }

    div#_texts {
        width: 100%;
        
        padding-top: 10px;
    }
    #_texts p {margin: 0px 0px 20px 0px;}
}

@media screen and (max-width: 522px) {
    #_main h1 {
        font-size: 80px;
    }
}
/*   --_main--   */



/*   --_data--   */
section#_comparison {
    width: 70%;
    max-width: 500px;

    margin: 100px auto;

    padding: 30px 75px 30px 75px;

    border-radius: 5px;

    display: none;
    
    background-color: #f7f8f8;
}

div#_other-h2 {
    width: 40%;

    margin-left: auto;

    text-align: center;
}
div#_our-h2 {
    width: 40%;

    margin-right: auto;

    text-align: center;
}

#_titles h2 {
    font-size: 20px;
}

div#_titles {
    display: flex;
    align-items: center;
    gap: 125px;
}

div#_data {
    display: flex;
}

#_titles p._porcentage {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.500);
}

#_other-num {
    width: 40%;

    margin-left: auto;

    text-align: right;
}

#_our-num {
    width: 40%;

    margin-right: auto;

    text-align: left;
}

#_year {
    margin-top: 30px;

    padding: 0 20px 0 20px;

    color: rgba(0, 0, 0, 0.500);
    text-wrap: nowrap;
}

#_year p {
    
    margin-bottom: 5px;
    margin-left: auto;

    padding: 0px 5px 0px 5px;

    border-radius: 10px;

    text-align: center;
}

._first-num {
    margin-top: 30px;
    margin-bottom: 5px;

    padding: 0px 5px 0px 5px;

    border-radius: 10px;
}

._other-num {
    width: fit-content;
    
    margin-bottom: 5px;

    padding: 0px 5px 0px 5px;

    border-radius: 10px;

    margin-left: auto;
}

._our-num {
    width: fit-content;

    margin-bottom: 5px;

    padding: 0px 5px 0px 5px;

    border-radius: 10px;
}

#_final-message {
    padding-top: 45px;

    color: rgba(0, 0, 0, 0.500);
    text-align: center;
}
#_final-message a {
    color: hwb(271 5% 70%);
}

@media screen and (max-width: 731px) {
    #_titles h2 {
        font-size: 15px;
    }
}
/*   --_data--   */
